<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <style type="text/css">
      .grid {
        margin: auto;
        width: 530px;
        text-align: center;
      }
      .grid table {
        border-top: 1px solid #c2d89a;
        width: 100%;
        border-collapse: collapse;
      }
      .grid th,
      td {
        padding: 10;
        border: 1px dashed #f3dcab;
        height: 35px;
        line-height: 35px;
      }
      .grid th {
        background-color: #f3dcab;
      }
      .grid .book {
        padding-bottom: 10px;
        padding-top: 5px;
        background-color: #f3dcab;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="grid">
        <div>
          <h1>图书管理</h1>
          <div class="book">
            <div>
              <label for="id">
                编号：
              </label>
              <input type="text" id="id" v-model="id" />
              <label for="name">
                名称：
              </label>
              <input type="text" id="name" v-model="name" />
              <button @click="add">提交</button>
            </div>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>编号</th>
              <th>名称</th>
              <th>时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) in books" :key="item.id">
              <td>{{index+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.date | dateFormat}}</td>
              <td>
                <a href="">修改</a>
                <span>|</span>
                <a href="javascript:;" @click="delBook(item.id)">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
      Vue.filter("dateFormat", function(val) {
        // var myDate = new Date(val);
        var year = val.getFullYear();
        // console.log(year)
        var m = (val.getMonth() + 1 + "").padStart(2, 0);
        var t = (val.getDate() + "").padStart(2, 0);
        var h = (val.getHours() + "").padStart(2, 0);
        var f = (val.getMinutes() + "").padStart(2, 0);
        var s = (val.getSeconds() + "").padStart(2, 0);

        var str = `${year}-${m}-${t} ${h}:${f}:${s}`;

        return str;
      });

      /*
      图书管理-添加图书
    */
      var vm = new Vue({
        el: "#app",
        data: {
          // 用来对上面的两个输入框 进行双向数据绑定
          id: "",
          name: "",
          books: [
            {
              id: 1,
              name: "三国演义",
              date: new Date()
            },
            {
              id: 10,
              name: "水浒传",
              date: new Date()
            },
            {
              id: 3,
              name: "红楼梦",
              date: new Date()
            },
            {
              id: 4,
              name: "西游记",
              date: new Date()
            }
          ]
        },
        methods: {
          add() {
            // 需要判官用户是否填写了 id与name  如果没有填写就提示用户
            if (this.id == "" || this.name == "") {
              alert("请输入相应的数据");
              return;
            }

            var data = {
              id: this.id,
              name: this.name,
              date: new Date()
            };
            // console.log(data);
            this.books.push(data);

            this.id = this.name = "";
          },

          delBook(key) {
            // 通过传递过来的key 将数组里面的元素删除   ajax最后一天 todolist
            // console.log(key);  findIndex 找数组的索引
            var index = this.books.findIndex(item => item.id === key);
            // splice()

            this.books.splice(index, 1);
          }
        }
      });
    </script>
  </body>
</html>
